DATABASE_URL="postgresql://rafflechain:rafflechain@localhost:5433/rafflechain?schema=public"
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL="http://127.0.0.1:8545"
NEXT_PUBLIC_RAFFLE_CHAIN_ADDRESS=""

